body{
margin:0;
font-family:Arial, sans-serif;
background:#efe2c6;
}

/* NAVBAR */
.navbar{
background:#1f5d3a;
color:white;
display:flex;
justify-content:space-between;
padding:15px 30px;
align-items:center;
}

.nav-links a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

/* GRID */
.container{
display:grid;
grid-template-columns:250px 1fr 300px;
gap:20px;
padding:20px;
}

/* LEFT */
.left-panel{
display:flex;
flex-direction:column;
gap:20px;
}

.card{
background:white;
border-radius:15px;
padding:20px;
}

.progress{
background:#2e6b47;
color:white;
text-align:center;
border-radius:15px;
padding:20px;
}

/* CENTER */
.welcome{
background:#d9cbb3;
border-radius:20px;
padding:25px;
text-align:center;
}

.game-buttons{
display:flex;
gap:15px;
margin-top:15px;
}

.game-btn{
flex:1;
background:#2e6b47;
color:white;
padding:20px;
border-radius:15px;
text-align:center;
cursor:pointer;
}

.game-btn:hover{
background:#1f5d3a;
}

/* CHALLENGE */
.challenge{
display:flex;
gap:10px;
margin-top:15px;
}

.challenge-box{
flex:1;
background:#f3ead6;
border-radius:10px;
padding:15px;
text-align:center;
border:2px solid #2e6b47;
}

/* LESSON */
.lesson{
display:flex;
gap:10px;
margin-top:15px;
}

.lesson-card{
flex:1;
background:#3a5f8c;
color:white;
padding:15px;
border-radius:10px;
text-align:center;
}

.lesson-card.green{
background:#2e6b47;
}

.lesson-card button{
margin-top:10px;
padding:8px;
border:none;
border-radius:5px;
}

/* RIGHT */
.teacher{
background:#f3ead6;
border-radius:15px;
padding:20px;
}

.teacher button{
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:8px;
}

.study{
background:#e9d8b6;
border-radius:15px;
padding:20px;
margin-top:20px;
text-align:center;
}

/* GAME AREA */
.game-area{
display:none;
margin-top:20px;
background:#f3ead6;
padding:20px;
border-radius:15px;
}

/* FLASHCARD */
.flashcard{
width:300px;
height:150px;
background:#2e6b47;
color:white;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
border-radius:15px;
cursor:pointer;
}

/* QUIZ */
.quiz button{
background:#2e6b47;
color:white;
border:none;
padding:10px 20px;
margin:5px;
border-radius:8px;
cursor:pointer;
}
